<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% extends 'base_template.html' %}
    <title>Area Information</title>
    {% load staticfiles %}
    {% block scripts %}
        <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
        <script>
            $(function () {
                $.get("{% url 'Book:show_province' %}", function (json_data) {
                    province_list = json_data.province_list;
                    $.each(province_list, function (i, province) {
                        $('#pro').html($('#pro').html() + '<option value="' + province.id + '">' + province.name + '</option>')
                    })
                });
                $('#pro').change(function () {
                    $.get("{% url 'Book:show_city'%}", {'province_id': $(this).val()}, function (json_data) {
                        city_list = json_data.city_list;
                        $('#ct').empty();
                        $('#ct').html('<option value="0">请选择</option>');
                        $.each(city_list, function (i, city) {
                            $('#ct').html($('#ct').html() + '<option value="' + city.id + '">' + city.name + '</option>')
                        })
                    })
                })
                $('#ct').change(function () {
                    $.get("{% url 'Book:show_area'%}", {'city_id': $(this).val()}, function (json_data) {
                        area_list = json_data.area_list;
                        $('#ar').empty();
                        $('#ar').html('<option value="0">请选择</option>');
                        $.each(area_list, function (i, area) {
                            $('#ar').html($('#ar').html() + '<option value="' + area.id + '">' + area.name + '</option>')
                        })
                    })
                })
            })
        </script>
    {% endblock scripts %}
</head>
<body>
{% block body %}
    <select name="province" id="pro">
        <option value="0">请选择</option>
    </select>
    <select name="city" id="ct">
        <option value="0">请选择</option>
    </select>
    <select name="area" id="ar">
        <option value="0">请选择</option>
    </select>
{% endblock body %}
</body>
</html>